@import "../fonts/pretendard.css";

@import "./commom.css";
@import "./defaultskin.css";
@import "./header.css";
@import "./login.css";
@import "./registration.css";
@import "./mylocation.css";
@import "./write.css";
@import "./leftmenu.css";

:root {
  /* COLOR */
  --point-color: #6656ff;
  --point-half-color: rgba(152, 145, 224, 0.5);
  --disable-color: #959292;
  --disable-text: #959292;
  --white-color: #ffffff;
  --enable-text: #000000;
  --border-color: #ebebeb;
  --depp-border-color: #d0cfcf;
  --placeholder-color: #d0d2dc;
  --bright-gray: #d9d9d9;
  --dark-gray-color: #3a3a3a;
  --dark-gray-text: #3a3a3a;
  /* SIZE */
  --header-height: 4.9rem;
  --bottom-navigation: 6rem;
}
* {
  font-family: "pretendard";
  font-weight: 600;
}
.con {
  max-width: 50rem;
  margin: 0 auto;
  background: var(--white-color);
}
.btn_box .buttons {
  background: var(--point-color);
  border-radius: 5px;
  font-weight: 600;
  color: var(--white-color);
}
