/* COMMON */
.inner_section {
  padding-top: 5rem;
}

/* INPUT */
.input_default {
  height: 4.7rem;
  padding: 1.3rem 2rem;
  margin-top: 1.5rem;
  border-radius: 5px;
  border: 1px solid var(--border-color);
  font-size: 1.6rem;
}
.input_default::placeholder {
  font-weight: 500;
  color: #aaaaaa;
  letter-spacing: 1.1px;
}
.input_default:focus {
  outline: none;
}

/* BUTTON */
.btn_box {
  border-radius: 5px;
  overflow: hidden;
}
.btn_box .buttons {
  transition: background 0.3s;
}
.btn_box.disable .buttons {
  background: var(--disable-color);
}
.btn_box .buttons {
  background: var(--point-color);
  color: var(--white-color);
}

/* SEARCH KEYWORD */

/* BOTTOM NAVIGATION */
.navigate {
  height: var(--bottom-navigation);
  left: 0;
  bottom: 0;
  border-top: 1px solid #d0cfcf;
}
.navigate ul {
  height: inherit;
}
.navigate ul li {
  flex-basis: calc(100% / 5);
  height: inherit;
  margin: 0 1rem;
}
.navigate ul li p {
  margin-top: 1rem;
  font-size: 1rem;
}

.navigate ul li.active p {
  color: var(--point-color);
}
