@keyframes shake_rotate {
  0% {
    transform: rotate(0);
  }

  25% {
    transform: rotate(-2deg);
  }

  50% {
    transform: rotate(2deg);
  }

  75% {
    transform: rotate(-2deg);
  }

  100% {
    transform: rotate(0);
  }
}

.shake_rotate {
  animation: shake_rotate 0.2s linear 1;
}
