.left_menu_section {
  width: 85%;
  height: 100vh;
  top: 0;
  left: -100%;
  z-index: 21;
  background: #ededed;
  transition: all 0.3s;
}
.left_menu_section > * {
  background: var(--white-color);
}
.left_menu_section.true {
  left: 0;
}
.left_menu_section .top_section {
  background: #3a3a3a;
}
.left_menu_section .top_section .header_section {
  padding: 2.5rem 1.6rem;
}
.left_menu_section .top_section .my_profile * {
  color: var(--white-color);
}
.left_menu_section .top_section .my_profile > .img_box {
  background: var(--white-color);
  border-radius: 50px;
  overflow: hidden;
}
.left_menu_section .top_section .my_profile .my_nickname {
  margin-top: 1.5rem;
  font-size: 2rem;
}
.left_menu_section .top_section .my_profile .my_location {
  margin-top: 0.5rem;
  color: #d0cfcf;
}
.left_menu_section .top_section .semi_count {
  max-width: 60%;
  margin: 10rem auto 0 auto;
  padding-bottom: 2.5rem;
}
.left_menu_section .top_section .semi_count li .key_tit {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--disable-text);
}
.left_menu_section .top_section .semi_count li .count {
  font-size: 2rem;
  font-weight: 600;
  color: var(--white-color);
}
.left_menu_section .middle_section {
  flex-grow: 1;
}
.left_menu_section .middle_section ul li {
  padding: 2.5rem;
}
.left_menu_section .middle_section ul li:not(:last-child) {
  border-bottom: 1px solid rgba(237, 237, 237, 0.5);
}
.left_menu_section .middle_section ul li svg {
  margin-right: 1rem;
}
.left_menu_section .middle_section ul li .txt {
  flex-grow: 1;
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--disable-color);
}
.left_menu_section .bottom_section {
  margin-top: 1rem;
}
.left_menu_section .bottom_section ul li {
  padding: 2rem 2.5rem;
}
.left_menu_section .bottom_section ul li:first-child {
  border-bottom: 1px solid var(--border-color);
}
.left_menu_section .bottom_section ul li div {
  font-size: 1.6rem;
  color: var(--disable-text);
}
