.pc_section {
  min-height: 100vh;
  /* height: 100vh; */
}
.pc_section .swiper-wrapper {
  transition-timing-function: linear;
}

.pc_con {
  padding: 0 14.5rem;
}
.pc_s_con {
  max-width: 108rem;
  margin: 0 auto;
}
.pc_section .point_txt {
  color: var(--point-color) !important;
}
.pc_section h1 {
  font-size: 10rem;
}
.pc_section h2 {
  font-size: 7rem;
}
.pc_section h3 {
  font-size: 5rem;
}
.pc_section h6 {
  font-size: 3.5rem;
  font-weight: 700;
}
.pc_section.section_1,
.pc_section.section_7,
.pc_section.section_8 {
  background: var(--normal-gray-color);
}
.pc_section.section_3,
.pc_section.section_4,
.pc_section.section_9,
.pc_section.section_10,
.pc_section.section_11 {
  background: #493dc1;
}
/* SECTION_1 */
.pc_section.section_1 {
  padding-top: 8.5rem;
}
.pc_section.section_1 .pc_con > div {
  flex-basis: 50%;
}

.pc_section.section_1 .left_section h1 {
  font-weight: 800;
  color: var(--white-color);
}
.pc_section.section_1 .left_section .kor_semi_tit {
  margin-top: 5rem;
  font-weight: 400;
  color: var(--white-color);
}
.pc_section.section_1 .left_section .kor_semi_tit span {
  font-size: 3.5rem;
  font-weight: 700;
  color: var(--white-color);
}
.pc_section.section_1 .right_section img {
  max-width: 95%;
}
/* SECTION_2 */
.pc_section.section_2 {
  padding-top: 5rem;
  background: var(--white-color);
}
.pc_section.section_2 h2 {
  margin-top: 4.5rem;
  font-weight: 600;
  color: var(--navy-color);
}
.pc_section.section_2 h2 span {
  font-size: 7rem;
  font-weight: 800;
  color: var(--navy-color);
}
.pc_section.section_2 p {
  margin-top: 4.5rem;
  font-size: 2.2rem;
  font-weight: 600;
  color: var(--navy-color);
  text-align: center;
}
.pc_section.section_2 .circle_chart {
  margin-top: 8.5rem;
}
.pc_section.section_2 .circle_chart .plus_txt {
  margin: 0 7.5rem;
  font-size: 10rem;
  font-weight: 800;
}
.pc_section.section_2 .circle_chart .circle_box {
  flex-basis: 46rem;
  width: 46rem;
  height: 46rem;
  border-radius: 50%;
  border: 1px solid var(--point-color);
}
.pc_section.section_2 .circle_chart .circle_box div > strong {
  font-size: 3rem;
  font-weight: 800;
}
.pc_section.section_2 .circle_chart .circle_box div > div {
  font-size: 3rem;
  font-weight: 600;
}
.pc_section.section_2 .circle_chart .circle_box p {
  margin-top: 3rem;
  font-size: 2rem;
  font-weight: 500;
  color: var(--normal-gray-text);
}
/* SECTION_3 */
.pc_section.section_3 {
  padding-top: 4.5rem;
}
.pc_section.section_3 .section_tit {
  font-weight: 800;
  color: var(--white-color);
}
.pc_section.section_3 .semi_tit {
  margin-top: 2.5rem;
}
.pc_section.section_3 .semi_tit > h6 {
  font-weight: 600;
  color: var(--white-color);
  line-height: 1.5;
}
.pc_section.section_3 .semi_tit ul {
  text-align: right;
}
.pc_section.section_3 .semi_tit ul li {
  font-size: 1.5rem;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.5);
}
.pc_section.section_3 .chart_list {
  margin-top: 6rem;
}
.pc_section.section_3 .chart_list .mini_chart {
  flex-basis: calc(97.5% / 3);
  max-height: 50rem;
  height: 50rem;
  padding: 5rem;
  background: var(--white-color);
  border-radius: 5rem;
  box-shadow: 0 20px 34px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
.pc_section.section_3 .chart_list .mini_chart .chart_body {
  min-height: 40rem;
  max-height: 40rem;
  margin: 0 -1rem;
  overflow-y: auto;
}
.pc_section.section_3 .chart_list .mini_chart .chart_body::-webkit-scrollbar {
  width: 5px;
}
.pc_section.section_3
  .chart_list
  .mini_chart
  .chart_body::-webkit-scrollbar-thumb {
  position: relative;
  height: 10%;
  background: var(--point-color);
  border-right: 1px solid var(--point-color);
  border-left: 1px solid var(--point-color);
  border-radius: 10px;
}
.pc_section.section_3
  .chart_list
  .mini_chart
  .chart_body::-webkit-scrollbar-track {
  background: #dbdbdb;
  border-right: 1px solid var(--white-color);
  border-left: 1px solid var(--white-color);
}
.pc_section.section_3 .chart_list .mini_chart .chart_tit {
  font-size: 3rem;
  font-weight: 600;
  color: var(--navy-color);
  line-height: 1.1;
}
.pc_section.section_3 .chart_list .mini_chart .chart_tit span {
  font-size: 3rem;
  font-weight: 800;
  color: var(--navy-color);
}
.pc_section.section_3 .chart_list .mini_chart .semi_tit {
  font-size: 2rem;
  font-weight: 600;
  color: var(--disable-text);
  letter-spacing: -0.5px;
}
.pc_section.section_3 .chart_list .mini_chart .contents {
  min-height: 4rem;
  margin-top: 4rem;
}
.pc_section.section_3 .chart_list .mini_chart .contents ul li .bars {
  width: 0;
  padding: 1.4rem;
  margin-right: 1rem;
  background: #dbdbdb;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--white-color);
  transition: all 0.3s;
}
.pc_section.section_3 .chart_list .mini_chart .contents ul li .bars.point_bg {
  background: var(--point-color);
}
.pc_section.section_3 .chart_list .mini_chart .contents ul li .key_txt {
  font-size: 2rem;
  font-weight: 600;
  color: #dbdbdb;
}
.pc_section.section_3
  .chart_list
  .mini_chart
  .contents
  .vertical
  li:not(:first-child) {
  margin-top: 2rem;
}
.pc_section.section_3
  .chart_list
  .mini_chart
  .contents
  .horizontal
  li
  .key_txt {
  align-items: flex-start;
  height: 2em;
  margin-top: 1rem;
  white-space: pre;
  text-align: center;
}
.pc_section.section_3 .chart_list .mini_chart:nth-child(2) {
  margin-top: 5.5rem;
}
.pc_section.section_3 .chart_list .mini_chart .contents .horizontal li .bars {
  width: 5.8rem;
  height: 0;
  margin-right: 0;
  border-top-left-radius: 2rem;
  border-bottom-right-radius: 0;
  text-align: center;
}

.pc_section.section_3 .chart_list .mini_chart .contents .custom_table > li {
  margin-bottom: 0.5rem;
}
.pc_section.section_3 .chart_list .mini_chart .contents .custom_table li li {
  flex-basis: calc((100% - 1rem) / 3);
  height: 4.5rem;
  border-radius: 1rem;
  border: 1px solid var(--point-color);
  color: var(--point-color);
}
.pc_section.section_3
  .chart_list
  .mini_chart
  .contents
  .custom_table
  > li:first-child
  li {
  background: var(--point-color);
  border: none;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--white-color);
}
.pc_section.section_3
  .chart_list
  .mini_chart
  .contents
  .custom_table
  > li:first-child
  li:first-child {
  border-radius: 0;
  border-top-left-radius: 2rem;
}
.pc_section.section_3
  .chart_list
  .mini_chart
  .contents
  .custom_table
  > li:first-child
  li:last-child {
  border-radius: 0;
  border-top-right-radius: 2rem;
}
.pc_section.section_3 .chart_list .mini_chart .contents .end_txt p {
  margin: 0 0.5rem;
  font-size: 2rem;
  font-weight: 600;
}
/* SECTION_4 */
.pc_section.section_4 {
  padding-top: 4.5rem;
}
.pc_section.section_4 .section_tit {
  font-weight: 700;
  color: var(--white-color);
}
.pc_section.section_4 .zreview_point {
  margin-top: 6rem;
}
.pc_section.section_4 .zreview_point > div > p {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--white-color);
}
.pc_section.section_4 .zreview_point > div ul li {
  position: relative;
  width: 100%;
  height: 11rem;
  padding: 0 4rem;
  margin-top: 3rem;
  border-radius: 20px;
  box-shadow: 0 -1px 1px rgba(255, 255, 255, 0.5);
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--white-color);
}
.pc_section.section_4 .painpoint_list {
  flex-basis: 50rem;
}
.pc_section.section_4 .painpoint_list ul li {
  background: rgb(101, 86, 255);
  background: linear-gradient(
    90.13deg,
    rgba(101, 86, 255, 0.5) 0%,
    rgba(101, 86, 255, 0) 100%
  );
}
.pc_section.section_4 .solution_list {
  flex-basis: 63rem;
}
.pc_section.section_4 .solution_list ul li {
  background: var(--dark-gray-color);
}
/* SECTION_5 */
.pc_section.section_5 {
  padding-top: 4.5rem;
  background: #493dc1;
  background: linear-gradient(
    0deg,
    rgba(141, 130, 254, 1) 0%,
    rgba(73, 61, 193, 1) 100%
  );
}
.pc_section.section_5 .section_tit {
  font-weight: 700;
  color: var(--white-color);
  text-align: center;
}
.pc_section.section_5 .user_persona_list > li {
  margin-top: 4rem;
}
.pc_section.section_5 .user_persona_list li .avatar_img {
  flex-basis: 31rem;
}
.pc_section.section_5 .user_persona_list li .txt_box {
  flex-basis: calc(100% - 35rem);
  padding: 4rem;
  background: var(--white-color);
  border-radius: 3rem;
  box-shadow: 0 4px 22px rgba(0, 0, 0, 0.05);
}
.pc_section.section_5 .user_persona_list li .txt_box * {
  color: var(--navy-color);
}
.pc_section.section_5 .user_persona_list li .txt_box .user_info p {
  padding-right: 3rem;
  font-size: 3rem;
  font-weight: 700;
}
.pc_section.section_5
  .user_persona_list
  li
  .txt_box
  .user_info
  p:first-child::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 2.5rem;
  background: #d9d9d9;
  top: 20%;
  right: 0;
}
.pc_section.section_5 .user_persona_list li .txt_box .user_info p.job {
  padding-left: 3rem;
  font-weight: 500;
}
.pc_section.section_5 .user_persona_list li .txt_box strong {
  font-size: 2rem;
  font-weight: 700;
}
.pc_section.section_5 .user_persona_list li .txt_box p {
  font-size: 2rem;
  font-weight: 500;
}
.pc_section.section_5 .user_persona_list li .txt_box p span {
  font-size: 2rem;
}
.pc_section.section_5 .user_persona_list li .txt_box li li {
  margin-left: 2rem;
  font-size: 1.8rem;
  line-height: 1.5;
  list-style: disc;
}
.pc_section.section_5 .user_persona_list li .txt_box .persona_data {
  margin-top: 4rem;
}
.pc_section.section_5
  .user_persona_list
  li
  .txt_box
  .persona_data
  > li:first-child {
  flex-basis: 100%;
}
.pc_section.section_5
  .user_persona_list
  li
  .txt_box
  .persona_data
  > li:not(:first-child) {
  flex-basis: 50%;
  margin-top: 4rem;
}
.pc_section.section_5 .user_persona_list li .txt_box strong ~ * {
  margin-top: 2rem;
}
/* SECTION_6 */
.pc_section.section_6 {
  padding: 4.5rem 0 16.5rem 0;
  background: #493dc1;
  background: linear-gradient(
    0deg,
    rgba(101, 86, 255, 0) 0%,
    rgba(141, 130, 254, 1) 100%
  );
}
.pc_section.section_6 .section_tit {
  font-weight: 700;
  color: var(--white-color);
  text-align: center;
}
.pc_section.section_6 .normal_slide {
  margin-top: 5rem;
}
.pc_section.section_6 .reverse_slide {
  max-width: 80%;
  margin: 3.5rem auto 0 auto;
}
.pc_section.section_6 .swiper-wrapper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 9.2rem;
  border-radius: 2rem;
  background: var(--white-color);
  box-shadow: 0 8px 13px rgba(135, 135, 135, 0.2);
}

.pc_section.section_6 .swiper-wrapper .swiper-slide .txt {
  font-size: 2rem;
  font-weight: 600;
}
.pc_section.section_6 .section_sub_tit h6 {
  font-weight: 700;
  color: var(--white-color);
}
.pc_section.section_6 .section_sub_tit p {
  font-size: 2.5rem;
}
.pc_section.section_6 .section_sub_tit h2 span {
  font-size: 7rem;
  font-weight: 700;
}
/* SECTION_7 */
.pc_section.section_7 .section_tit {
  padding-top: 10rem;
}
.pc_section.section_7 .logo_info {
  margin-top: 6rem;
}
.pc_section.section_7 .logo_info * {
  color: var(--white-color);
}
.pc_section.section_7 .logo_info > p {
  font-size: 2.5rem;
}
.pc_section.section_7 .logo_info .logo_explanation p {
  font-size: 1.8rem;
  font-weight: 400;
}
.pc_section.section_7 .logo_info .logo_explanation span {
  font-weight: 800;
}
.pc_section.section_7 .logo_info .intro_logo_box {
  margin-top: 4.5rem;
}
.pc_section.section_7 .use_logo {
  margin-top: 13.5rem;
}
.pc_section.section_7 .use_logo li > div {
  font-weight: 500;
  color: var(--white-color);
}
.pc_section.section_7 .use_logo li > div:nth-child(2) {
  margin-top: 4rem;
}
/* SECTION_8*/
.pc_section.section_8 {
  padding-bottom: 16rem;
}
.pc_section.section_8 p {
  font-size: 2rem;
  font-weight: 500;
  color: var(--white-color);
}
.pc_section.section_8 .color_picker {
  flex-basis: 100%;
  margin-top: 20rem;
}
.pc_section.section_8 .pc_s_con > div:not(.color_picker) {
  margin-top: 13.5rem;
}
.pc_section.section_8 .color_picker .point_color_bar {
  width: 100%;
  height: 8.4rem;
  margin-top: 3.5rem;
  background: linear-gradient(90deg, #6556ff -3.29%, #461cf4 103.76%);
}
.pc_section.section_8 .color_picker .point_color_bar::before {
  content: "6556FF";
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  font-size: 2rem;
  font-weight: 500;
  color: var(--white-color);
}
.pc_section.section_8 .color_picker .point_color_bar::after {
  content: "461CF4";
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 2rem;
  font-weight: 500;
  color: var(--white-color);
}
.pc_section.section_8 .color_picker .normal_color_bar li {
  flex-basis: 100%;
  width: 100%;
  height: 8.4rem;
}
.pc_section.section_8 .color_picker .normal_color_bar .white {
  flex-basis: 20.06%;
  background: var(--white-color);
  border: 1px solid var(--white-color);
}

.pc_section.section_8 .color_picker .normal_color_bar .light_gray,
.pc_section.section_8 .color_picker .normal_color_bar .gray {
  flex-basis: 28.93%;
  background: var(--border-color);
  border: 1px solid var(--border-color);
}
.pc_section.section_8 .color_picker .normal_color_bar .light_gray::before {
  content: "EDEDED";
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 2rem;
  font-weight: 500;
  color: var(--white-color);
}
.pc_section.section_8 .color_picker .normal_color_bar {
  margin-top: 2rem;
}
.pc_section.section_8 .color_picker .normal_color_bar .gray {
  background: var(--disable-color);
  border: 1px solid var(--disable-color);
}
.pc_section.section_8 .color_picker .normal_color_bar .gray::before {
  content: "959292";
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 2rem;
  font-weight: 500;
  color: var(--white-color);
}
.pc_section.section_8 .color_picker .normal_color_bar .dark_gray {
  flex-basis: calc(100% - 57.92%);
  background: var(--dark-gray-color);
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-left: none;
}
.pc_section.section_8 .color_picker .normal_color_bar .dark_gray::before {
  content: "3A3A3A";
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 2rem;
  font-weight: 500;
  color: var(--white-color);
}
.pc_section.section_8 .typhography {
  flex-basis: 60%;
}
.pc_section.section_8 .typhography ul li {
  font-size: 5rem;
  color: var(--white-color);
}
.pc_section.section_8 .typhography ul .montserrat {
  font-weight: 700;
}
.pc_section.section_8 .typhography ul .pretendard_semibold {
  font-weight: 700;
}
.pc_section.section_8 .typhography ul .pretendard_medium {
  font-weight: 500;
  color: rgba(255, 255, 255, 0.7);
}
.pc_section.section_8 .typhography ul .pretendard_regular {
  font-weight: 400;
  color: rgba(255, 255, 255, 0.4);
}
.pc_section.section_8 .iconography {
  flex-basis: 40%;
}
.pc_section.section_8 .iconography .icon_list {
  flex-basis: 100%;
}
.pc_section.section_8 .iconography .icon_list li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: calc(100% / 5);
  height: 6rem;
  margin-top: 1rem;
  cursor: pointer;
}
.pc_section.section_8 .iconography .icon_list li > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 6rem;
  height: 6rem;
  border-radius: 10px;
  box-shadow: 0 7px 4px rgba(0, 0, 0, 0.25);
}
/* SECTION_9 */
.pc_section.section_9 {
  padding-top: 6rem;
  padding-bottom: 3rem;
}
.pc_section.section_9 > .pc_con {
  padding: 0 10rem;
}

.pc_section.section_9 .sub_tit * {
  color: var(--white-color);
}
.pc_section.section_9 .sub_tit h3 {
  margin-right: 19rem;
  font-weight: 700;
}
.pc_section.section_9 .sub_tit p {
  font-size: 3rem;
  font-weight: 300;
}
.pc_section.section_9 .ex_txt p {
  font-size: 2.5rem;
  font-weight: 300;
  color: var(--white-color);
}
.pc_section.section_9 .mockup_view {
  margin-top: 9.5rem;
}
.pc_section.section_9 .mockup_view .splash_img {
  margin-right: 10rem;
}
.pc_section.section_9 .mockup_view .splash_img img {
  z-index: 2;
}
.pc_section.section_9 .mockup_view .splash_img::after {
  content: "";
  position: absolute;
  width: 60rem;
  height: 60rem;
  top: 10%;
  left: 0;
  border-radius: 50%;
  background: #a199f2;
  z-index: 1;
}
.pc_section.section_9 .mockup_view .process_mockup {
  flex-grow: 1;
  margin-top: 1rem;
}
.pc_section.section_9 .mockup_view .process_mockup li .mockup_txt * {
  color: var(--white-color);
}
.pc_section.section_9 .mockup_view .process_mockup li .mockup_txt .step {
  margin-top: 2.5rem;
  font-size: 2.5rem;
  font-weight: 600;
}
.pc_section.section_9 .mockup_view .process_mockup li .mockup_txt .step_name {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 300;
}
.pc_section.section_9 .mockup_view .process_mockup {
}
/* SECTION_10 */
.pc_section.section_10 {
  padding-top: 6rem;
  padding-bottom: 3rem;
  z-index: 1;
}
.pc_section.section_10 * {
  z-index: 3;
}
.pc_section.section_10::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 40rem;
  top: 0;
  left: 0;
  background: var(--white-color);
  z-index: 2;
}

.pc_section.section_10 .section_tit * {
  color: #493dc1;
}
.pc_section.section_10 .sub_tit p {
  font-size: 3rem;
  font-weight: 300;
}
.pc_section.section_10 .ex_txt p {
  margin-right: 5.5rem;
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
  font-family: "pretendard" !important;
}
.pc_section.section_10 .sub_tit h3 {
  font-weight: 700;
}
.pc_section.section_10 .mockup_view {
  margin-top: 8.5rem;
}
.pc_section.section_10 .marker_icon {
  margin-left: 4rem;
}
.pc_section.section_10 .marker_icon > div {
  position: absolute;
  font-size: 1.8rem;
  font-weight: 600;
  color: #958bff;
  white-space: nowrap;
}
.pc_section.section_10 .marker_icon .top_txt {
  top: -3.6rem;
  left: 0;
}
.pc_section.section_10 .marker_icon .top_txt::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 2rem;
  top: 100%;
  left: 30%;
  background: #958bff;
}
.pc_section.section_10 .marker_icon .bottom_txt {
  bottom: -3.6rem;
  right: 0;
}
.pc_section.section_10 .marker_icon .bottom_txt::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 2rem;
  bottom: 100%;
  right: 30%;
  background: #958bff;
}
.pc_section.section_10 .marker_icon .ex_txt {
  bottom: -12.6rem;
  left: 0;
  font-size: 1.8rem;
  font-weight: 400;
  color: var(--white-color);
}
.pc_section.section_10 .mockup_view .search_img {
  flex-basis: 50%;
}
.pc_section.section_10 .mockup_view .search_img .place_mockup .sub_txt {
  margin-top: 5rem;
}
.pc_section.section_10 .mockup_view .search_img .place_mockup .sub_txt > * {
  color: var(--white-color);
}
.pc_section.section_10 .mockup_view .search_img .place_mockup .sub_txt p {
  font-size: 2.5rem;
  font-weight: 700;
}
.pc_section.section_10 .mockup_view .search_img .place_mockup .sub_txt div {
  margin-top: 1.5rem;
  font-size: 2rem;
  font-weight: 400;
}
.pc_section.section_10 .mockup_view .search_img .review_mockup {
}
/* SECTION_11 */
.pc_section.section_11 {
  padding-top: 6rem;
  padding-bottom: 3rem;
}
.pc_section.section_11 .sub_tit * {
  color: var(--white-color);
}
.pc_section.section_11 .sub_tit h3 {
  margin-right: 19rem;
  font-weight: 700;
}
.pc_section.section_11 .sub_tit h3 span {
  font-size: 5rem;
  font-weight: 400;
}
.pc_section.section_11 .ex_txt p {
  font-size: 2rem;
  font-weight: 300;
  color: var(--white-color);
}
