.header {
  z-index: 2;
}
.res_form_section {
  padding: var(--header-height) 2rem 0;
  padding-bottom: 10rem;
  background: var(--white-color);
  z-index: 1;
}
.res_form_section .pw_explanation {
  right: 0;
  font-size: 1.2rem;
  font-weight: 500;
}
.res_form_section .input_name {
  font-size: 1.2rem;
}
.res_form_section input {
  width: 100%;
  margin-top: 0.5rem;
}
.res_form_section .btn_box {
  width: calc(100% - 4rem);
  bottom: 2rem;
}
.res_form_section .btn_box .buttons {
  height: 5rem;
}
.res_form_section .event_txt {
  top: 105%;
  font-size: 1rem;
  font-weight: 600;
  color: var(--false-text);
}
.res_form_section .event_txt.true {
  color: var(--point-color);
}
