.write_form {
  padding: 1.5rem 2rem;
}
.write_form .location_select {
}
.write_form .section_title {
  padding: 0 1rem;
  font-size: 1.4rem;
  color: var(--disable-color);
}
.write_form .location_select .radio_box {
  margin-top: 1rem;
}
.write_form .location_select input {
  display: none;
}
.write_form .location_select input ~ label {
  padding: 0.5rem 3.4rem;
  border-radius: 30px;
  border: 1px solid var(--disable-color);
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--disable-color);
}
.write_form .location_select input:checked ~ label {
  border-color: var(--point-color);
  color: var(--point-color);
}
.write_form .search_section {
  margin: 2rem 0 1.8rem;
}
.write_form .search_section > * {
  height: 3.4rem;
}
.write_form .search_section .keyword_input.enable {
  flex-basis: 100%;
  width: 100%;
}
.write_form .search_section .btn.disable {
  flex-basis: 0;
  width: 0;
}
.write_form .search_section .keyword_input {
  flex-basis: 73%;
  padding-left: 12%;
  background: #f6f6f6;
  border-radius: 5px;
  border: none;
  font-size: 1.4rem;
  transition: flex-basis 0.3s, width 0.3s;
}
.write_form .search_section .keyword_input::placeholder {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--disable-color);
}
.write_form .search_section label {
  top: 25%;
  left: 3%;
}
.write_form .search_section .btn {
  flex-basis: 24%;
  width: 24%;
  border-radius: 5px;
  background: var(--disable-color);
  color: var(--white-color);
  transition: flex-basis 0.3s, width 0.3s;
  overflow: hidden;
}
.write_form .search_section .btn.conform {
  background: var(--point-color);
}

.write_form .line {
  width: 100%;
  height: 2px;
  margin: 1rem 0;
  background: rgba(237, 237, 237, 0.5);
}
.write_form .score_section {
  margin-top: 1.5rem;
}
.write_form .score_section .star_section {
  margin: 1rem 0;
}
.write_form .score_section .star_section > div {
  height: 2.4rem;
  margin-right: 0.9rem;
}
.write_form .input_section {
  margin-top: 1rem;
}
.write_form .input_section textarea {
  width: 100%;
  height: 13.8rem;
  padding: 1rem 1.5rem;
  border-radius: 5px;
  border: 1px solid var(--depp-border-color);
  font-size: 1.5rem;
  outline: none;
  resize: none;
}
.write_form .input_section textarea::placeholder {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--placeholder-color);
  letter-spacing: -0.3px;
}
.write_form .hashtag_section {
  margin-top: 1.5rem;
}
.write_form .hashtag_section .input_box {
  flex-basis: 76%;
}
.write_form .hashtag_section .input_box .input_default {
  width: 100%;
  height: 4.1rem;
  padding-left: 17%;
  margin-top: 0;
  border-color: var(--depp-border-color);
  transition: border-color 0.3s;
}
.write_form .hashtag_section .input_box .input_default.disable {
  border-color: var(--border-color);
}
.write_form .hashtag_section .input_box .input_default::placeholder {
  font-size: 1.4rem;
  color: var(--placeholder-color);
  letter-spacing: -0.3px;
}
.write_form .hashtag_section .event_txt {
  font-size: 1.1rem;
  color: var(--false-text);
}
.write_form .hashtag_section .btn_box {
  width: 22%;
}
.write_form .hashtag_section .btn_box .btn {
  height: 4.1rem;
  background: var(--point-color);
  border-radius: 5px;
  color: var(--white-color);
}
.write_form .hashtag_section .btn_box .btn.disable {
  background: var(--disable-color);
}
.write_form .hashtag_section .write_state_hashtag {
  flex-basis: 100%;
}
.write_form .hashtag_section .write_state_hashtag ul li {
  margin-top: 1.5rem;
  margin-right: 1rem;
}
.write_form .write_btn {
  width: 90%;
  bottom: 2rem;
}
.write_form .write_btn .buttons {
  height: 5rem;
}
.write_form .image_section {
  margin-top: 1.5rem;
}
.write_form .image_section > * {
  margin-right: 1rem;
}
.write_form .image_section .thumb_img {
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 5px;
  border: 1px solid var(--depp-border-color);
  overflow: hidden;
}
.write_form .image_section .thumb_img .del_btn {
  width: 1.8rem;
  height: 1.8rem;
  top: 3px;
  right: 3px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50px;
  border: 2px solid var(--white-color);
  font-weight: 500;
  color: var(--white-color);
}
.write_form .image_section .thumb_img .del_btn > div {
  width: 70%;
  height: 2px;
  top: calc(50% - 1px);
  background: var(--white-color);
  border-radius: 15px;
  transform: rotate(45deg);
}
.write_form .image_section .thumb_img .del_btn > div:last-child {
  transform: rotate(-45deg);
}
#image_file_upload {
  display: none;
}
#image_file_upload ~ label {
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 5px;
  border: 1px solid var(--depp-border-color);
}
#image_file_upload ~ label svg {
  margin-bottom: 0.5rem;
}
#image_file_upload ~ label .txt {
  font-size: 1.2rem;
  color: var(--depp-border-color);
}
